html {
	width: 100%;
	height: 100%;
}
body {
	font-family: "Trebuchet MS", verdana, arial, helvetica;
	font-size: 12px;
	color: #515151;
   	line-height: 17px;
	background-color: #515151;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
a {
	color: #700016;
	text-decoration:none;
}
a:hover {
	color: #E56508;
	text-decoration:underline;
}
a.active {
	color: #99011E;
	text-decoration:none;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}
#application-bar {
	display: block;
	background-color: #515151;
	background-image: url('../images/application-bar-bg.gif');
	background-position: top left;
	background-repeat: repeat-x;
	width: 100%;
	height: 6%;
	color: #a0a0a0;
	font-size: 18px;
	line-height: 34px;
}
#application-bar .logo {
	text-indent: -999px;
	width: 67px;
	height: 21px;
	float: left;
	background: url('../images/flow3-logo-white-on-dark.gif') no-repeat;
	margin: 3px 15px 0 15px;
}
#documentation-selector {
	background-color: #e8e8e8;
	background-image: url('../images/selector-right-bg.gif');
	background-position: top right;
	background-repeat: repeat-y;
	width: 15%;
	height: 94%;
	float: left;
	font-size: 16px;
	line-height: 22px;
}
#documentation-selector ul.packages {
	text-align: right;
	margin: 20px 0 0 0;
}
#documentation-selector .package h3 {
	padding: 20px 0 0 0;
	margin: 0 15px 0 0;
}
#documentation-selector .package .package-name {
	color: #515151;
	font-size: 18px;
	font-weight: bold;
}
#documentation-selector .package ul.documentations {
	margin: 0 15px 10px 0;
}

#documentation-selector .package-selected {
	background-color: #fff;
	background-image: url('../images/selected-package-top-bg.gif');
	background-position: top right;
	background-repeat: no-repeat;
}
#documentation-selector .package-selected .bottom {
	display: block;
	height: 8px;
	background-image: url('../images/selected-package-bottom-bg.gif');
	background-position: top right;
	background-repeat: no-repeat;
}
#documentation-selector .package-selected .package-name {
	color: #000;
}
#documentation-selector ul.languages {
	height: 22px;
}
#documentation-selector ul.languages li {
	float: right;
	margin: 0 0 0 5px;
}
#documentation-selector .language a {
	font-size: 14px;
}
#documentation-selector .language-selected a {
	color: #000;
	font-weight: bold;
}
#documentation-view {
	margin: 0 0 0 15%;
	width: 85%;
	height: 94%;
}
#documentation-view iframe {
	background-color: #fff;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}
#notice {
	background-color: #e8e8e8;
	width: 300px;
	height: 200px;
	margin: 100px auto 0 auto;
	padding: 20px;
}